<style>
    nav a {
        border-radius: 10px;
        padding: 10px;
        background-color:red;
    }
</style>
<nav class='menu'>
    <a href={% url 'core_home' %}>Home</a>
    <a href={% url 'core_lista_pessoas' %}>Lista de pessoas</a>
    <a href={% url 'core_lista_veiculos' %}>Lista de veiculos</a>
    <a href={% url 'core_mov_rot' %}>Movimentos rotativos</a>
    <a href={% url 'core_lista_mensalista' %}>Mensalista</a>
    <a href={% url 'core_mov_mensalista' %}>Movimento mensalista</a>
    <a href={% url 'core_marca' %}>Marca</a>
</nav>