{% extends 'base.html' %}



{% block conteudo %}
    <h3>Lista movimento mensalista</h3>
    <form action={% url 'core_adicionar_mov_mensalista' %} method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Criar">
    </form>
    <table style="text-align : center">
        <thead>
            <th>mensalista</th>
            <th>data_pagamento</th>
            <th>total</th>
            <th>Update</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for movimento in movimentos %}
                <tr>
                    <td>{{movimento.mensalista.veiculo}}</td>
                    <td>{{movimento.data_pagamento}}</td>
                    <td>{{movimento.total}}</td>
                    <td><a href={% url 'core_update_mov_mensalista' movimento.id %}>Update</a></td>
                    <td><a href={% url 'core_delete_mov_mensalista' movimento.id %}>Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock conteudo %}